:root{

    --font: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    background-color: black;
    height: 180px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

header h1{
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 4.7em;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{

    text-decoration: underline;

}


h4{
    margin-top: 6px;
    font-size: 1.2em;
}

section{
    
    padding: 10vh  0px 10vh 30px;
   

    font-family: var(--font3);
    font-size: 1.8em;
    line-height: 1.8em;
}

.paragraph-normal{
    background-color: white; 
  
}

.paragraph-image{
   
    background-color: gray;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.425);
  
    background-size: cover;
    background-attachment: fixed;
}

#image1{
    background-image: url('imagens/background001.jpg');
    background-position: center center;
}

#image2{
    background-image: url('imagens/background002.jpg');
    background-position: center center;
}

.paragraph-image  p{
   
    display: inline-block;
    padding: 8px;
    color: white;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.637);
   
}

.paragraphSpace{

    margin-top:  30px;
}

footer{

    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font);
}


